.DestinationsList{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem;
    margin: 60px;
  }

  

  .title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    margin: 20, auto;
    font-weight: 500;
    font-size: 48px;
    color:rgb(39, 91, 61);
  }

  .item-img{
    width: 500px;
    height: 350px;
    margin: 0 auto;
  }

  .destination-card a{
    text-decoration: none;
  }
  .destination-card{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: var(--light-grey);
    box-shadow: #3c40434d 0 1px 2px,#3c404326 0 1px 3px 1px;
    max-height: 520px;
    flex-direction: column;
  
  }

  .destination-title {
    color:rgb(39, 91, 61);
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
   
    
  }

  .destination-description {
    color:rgb(39, 91, 61);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    text-decoration: none;
    padding-top: 10px;
  }

  .location-tag {
    width: 15px;
    height: 38px;

  }
  .like-tag{
    width: 50px;
    height: 20px;
   
    
   
  }

  .destination-title-container{
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top: 10px;
    gap: 7px;
    
  }

  .company-card-buttons-wrap{
    display:flex;
    align-items: center;
    gap: 50px;
  }
  
  .leaflet-container {
    height: 600px;
    width: 100%;
  }
  
  .leaflet-div-icon {
    background: transparent;
    border: none;
  }