:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/* NAVBAR */

.NavBar {
  display: flex;
  align-items: center;  
  width: 90vw;
  margin: 0 auto 65px auto;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.NavBar h1 {
  color: #3dcfb0;
}
.NavBar .links {
  margin-left: auto;
}
.NavBar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}
.NavBar a:hover {
  color: #3dcfb0;
}

/* DESTINATION DETAILS */

.DestinationDetails {
  padding: 0 5vw;
}
.destination {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}
.img-card {
  flex-basis: 50%;
}
.img-card img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  box-shadow: #3c40434d 0 2px 2px, #3c404326 0 1px 3px 1px;
}